<div class="row gap-2 px-2">
    <div class="mod-cover" [ngClass]="{'mod-cover' : true, 'active' : isModalOpen}">
        <div class="col-7 m-auto">
            <form (ngSubmit)="FormSubmit()" #form="ngForm">
                <div class="close-box" (click)="ToggleModal()">
                    <i class="fa fa-xmark" title="close-modal"></i>
                </div>
                <h2 class="mb-3">Create New Promotion</h2>
                <div class="mb-3">
                    <label for="name" class="form-label col-2">Name</label>
                    <input type="text" class="col-8" id="name" placeholder="Promo Name" name="name_El" ngModel>
                </div>
                <div class="mb-3 d-flex align-items-start">
                    <label for="description" class="form-label col-2">Description</label>
                    <textarea name="description" id="description" class="col-8" ngModel></textarea>
                </div>
                <div class="text-end ms-auto">
                    <button class="button-15 text-danger me-3" (click)="ToggleModal()">Close<i class="fa fa-xmark ms-2"></i></button>
                    <button class="button-15 text-success mb-3">Create Promotion<i class="fa fa-file-circle-plus ms-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Promotions</h2>
        <a class="btn btn-outline-dark" (click)="SwitchBackToMain('PosManagement')">
            <i class="fa fa-arrow-left"></i> back to main menu
        </a>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <div class="col-12 filters">
            <div class="radio-el">
                <input type="radio" name="promofilter" id="all">
                <label for="all">all</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="promofilter" id="active">
                <label for="active">active</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="promofilter" id="inactive">
                <label for="inactive">inactive</label>
            </div>
            <div class="search-el">
                <input type="text" name="" id="search" placeholder="search promo name">
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="10%">promo ID</th>
                    <th width="15%">Promo Name <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="10%">Status <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="15%">Start Date</th>
                    <th width="15%">End Date</th>
                    <th width="15%">Created By <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promo of allPromos,let i = index">
                    <td width="10%">
                        {{promo.id}}
                    </td>
                    <td width="15%">
                        {{promo.promoName}}
                    </td>
                    <td width="10%">{{promo.isRunning ? 'Active' : 'Not Active'}}</td>
                    <td width="15%">{{promo.startDate.toDateString()}}</td>
                    <td width="15%">{{promo.endDate.toDateString()}}</td>
                    <td width="15%">{{promo.createdBy}}</td>
                    <td width="20%"> 
                        <p class="buttons" (click)="EditPromo(promo)">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4 class="mb-3">Quick Actions</h4>
        <button class="button-15 new" (click)="ToggleModal()">New Promo <i class="fa fa-file-circle-plus ms-2"></i></button>
    </div>
</div>

