.row{
    width: 1300px;
    height: 583px;
    padding: 20px;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}
.col-7 form{
    height: auto;
    margin: 5px 0;
}
form .col-2{
    height: auto;
}
.date{
    position: relative;
}
.sdate,.edate{
    position: absolute;
    top: 2px;
    left: 60%;
}
.sdate input{
    width: 20px;
    border-radius: 4px;
    border: none;
    color: black;
    filter: invert(2);
}
.edate input{
    width: 20px;
    border-radius: 4px;
    border: none;
    color: black;
    filter: invert(2);
}
.form-select{
    height: 35px;
    width: 50%;
}
.row .btn{
    height: 40px;
}
.filters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 4px;
}
.radio-el{
    width: 80px;
}
.radio-el label{
    font-size: 14px;
}
.search-el{
    margin-left: auto;
}
.search-el input{
    padding: 5px;
    border-radius: 4px;
    margin: auto 0;
    
}
.col-2{
    height: 300px;
    background-color: white;
    padding-left: 15px;
}
.table-list{
    background-color: white;
    height: 500px;
    overflow-y: scroll;
}
.table-list thead tr th {
    padding: 8px 0 14px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}
.table-list tr td {
    padding: 10px 0 10px 3px;
    vertical-align: middle;
    font-size: 13px;
    border: 1px solid;
}
p.buttons{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: 600;
    cursor: pointer;
}
.sort{
    height: 50px;
    margin-left: 10px;
    position: relative;
    top: -5px;
}
.fa-sort-down{
    color: rgb(78, 75, 75);
    cursor: pointer;
}