<div class="row gap-2 px-2">
    <div class="mod-cover" [ngClass]="{'mod-cover' : true, 'active' : isModalOpen}">
        <div class="col-7 m-auto">
            <form (ngSubmit)="FormSubmit()" #form="ngForm">
                <div class="close-box" (click)="ToggleModal()">
                    <i class="fa fa-xmark" title="close-modal"></i>
                </div>
                <h2 class="mb-3 text-center">{{formMode}} Category</h2>
                <div class="mb-3">
                    <label for="name" class="form-label col-2">Name</label>
                    <input type="text" class="col-8" id="name" placeholder="Category Name" name="name_El" ngModel>
                </div>
                <div class="mb-3 d-flex align-items-start">
                    <label for="description" class="form-label col-2">Description</label>
                    <textarea name="description" id="description" class="col-8" ngModel></textarea>
                </div>
                <div class="text-end ms-auto">
                    <button class="button-15 text-danger me-3" (click)="ToggleModal()">Close<i class="fa fa-xmark ms-2"></i></button>
                    <button class="button-15 text-success mb-3">{{formMode}} Category<i class="fa fa-file-circle-plus ms-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Categories</h2>
        <a class="button-15 btn" (click)="SwitchBackToMain('PosManagement')">
            <i class="fa fa-arrow-left"></i> back to main menu
        </a>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="20%">Category ID</th>
                    <th width="20%">Category Name <span class="sort"><i class="fa fa-sort-down"></i></span> </th>
                    <th width="20%">Description</th>
                    <th width="20%">Total Products <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of allCategories,let i = index">
                    <td width="20%">
                        {{category.id}}
                    </td>
                    <td width="20%">
                        {{category.categoryName}}
                    </td>
                    <td width="20%">{{category.description}}</td>
                    <td width="20%">{{category.totalProducts}}</td>
                    <td width="20%"> 
                        <p class="buttons" (click)="ToggleModal(category.id.toString())">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4 class="mb-3">Quick Actions</h4>
        <button class="button-15" (click)="ToggleModal()">New Category <i class="fa fa-file-circle-plus ms-2"></i></button>
        <button class="button-15">Search <i class="fa fa-magnifying-glass ms-2"></i></button>
    </div>
</div>
