<div class="container-fluid">
    <div class="background">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
            <span>management</span>
        </div>
    </div>

    <nav class="active">
        <div class="logo-container">
            <a href="" class="logo"><i class="fa fa-chess-knight"></i>POS Management</a>
        </div>
        <div class="user-details">
            <p>Logged In : Admin</p>
        </div>
    </nav>
    <div class="sidebar-menu">
        <div class="menu-item">
            <i class="fa fa-tags"></i>
            <a href="">Manage POS</a>
        </div>
        <div class="menu-item">
            <i class="fa fa-money-bill-trend-up"></i>
            <a href="">POS Analytics</a>
        </div>
        <div class="menu-item">
            <i class="fa fa-users"></i>
            <a href="">Manage Users</a>
        </div>
        <div class="menu-item">
            <i class="fa fa-money-bill-transfer"></i>
            <a href="">Switch To POS</a>
        </div>
        <div class="menu-item">
            <i class="fa fa-arrow-left"></i>
            <a href="">Sign Out</a>
        </div>
    </div>
    <div class="main-content">
        <div class="row gap-2 px-5">
            <h1><i class="fa fa-gear"></i> Manage POS</h1>
            <div class="col-2">
                <h2>Manage Products</h2>
            </div>
            <div class="col-2">
                <h2>Manage Promotions</h2>
            </div>
            <div class="col-2">
                <h2>Manage Inventory</h2>
            </div>
            <div class="col-2">
                <h2>Manage Tax</h2>
            </div>
            <div class="col-2">
                <h2>Manage Categories</h2>
            </div>
            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>
