<div class="container-fluid">
    <div class="background">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
            <span>management</span>
        </div>
    </div>
    <nav class="active">
        <div class="logo-container">
            <a class="logo"><i class="fa fa-chess-knight"></i>POS Management</a>
        </div>
        <div class="user-details">
            <p>Logged In : Admin</p>
        </div>
    </nav>
    <div class="sidebar-menu">
        <h3>Quick Menu</h3>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosManagement' || activePanel === 'PromoPanel' || activePanel === 'ProductPanel'}" (click)="SwitchActivePanel('PosManagement')">
            <i class="fa fa-tags"></i>
            <a>Manage POS</a>
        </div>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosAnalytics'}" (click)="SwitchActivePanel('PosAnalytics')">
            <i class="fa fa-money-bill-trend-up"></i>
            <a>POS Analytics</a>
        </div>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosUsers'}" (click)="SwitchActivePanel('PosUsers')">
            <i class="fa fa-users"></i>
            <a>Manage Users</a>
        </div>
        <div class="menu-item" [routerLink]="'/PosTransact'">
            <i class="fa fa-money-bill-transfer"></i>
            <a>Switch To POS</a>
        </div>
        <div class="menu-item" (click)="SignOut()">
            <i class="fa fa-arrow-left"></i>
            <a>Sign Out</a>
        </div>
    </div>
    <div class="main-content">
        <div class="row gap-2 px-3" *ngIf="activePanel == 'PosManagement'">
            
            <div class="col-2 ms-3" (click)="SwitchActivePanel('ProductPanel')">
                <h2>Manage Products</h2>
            </div>
            <div class="col-2" (click)="SwitchActivePanel('PromoPanel')">
                <h2>Manage Promotions</h2>
            </div>
            <div class="col-2" (click)="SwitchActivePanel('CategoryPanel')">
                <h2>Manage Categories</h2>
            </div>
            <div class="col-12">
            </div>
        </div>
        <app-promo *ngIf="activePanel === 'PromoPanel'"></app-promo>
        <app-product *ngIf="activePanel === 'ProductPanel'"></app-product>
        <app-category *ngIf="activePanel === 'CategoryPanel'"></app-category>
        <app-user *ngIf="activePanel === 'PosUsers'"></app-user>
        <app-analytics *ngIf="activePanel === 'PosAnalytics'"></app-analytics>
    </div>
</div>
