<div class="container-fluid">
    <div class="background">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
            <span>management</span>
        </div>
    </div>
    <nav class="active">
        <div class="logo-container">
            <a class="logo"><i class="fa fa-chess-knight"></i>POS Management</a>
        </div>
        <div class="user-details">
            <p>Logged In : Admin</p>
        </div>
    </nav>
    <div class="sidebar-menu">
        <h3>Quick Menu</h3>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosManagement' || activePanel === 'PromoPanel' || activePanel === 'ProductPanel'}" (click)="SwitchActivePanel('PosManagement')">
            <i class="fa fa-tags"></i>
            <a>Manage POS</a>
        </div>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosAnalytics'}" (click)="SwitchActivePanel('PosAnalytics')">
            <i class="fa fa-money-bill-trend-up"></i>
            <a>POS Analytics</a>
        </div>
        <div [ngClass]="{ 'menu-item' : true, 'active' : activePanel === 'PosUsers'}" (click)="SwitchActivePanel('PosUsers')">
            <i class="fa fa-users"></i>
            <a>Manage Users</a>
        </div>
        <div class="menu-item" [routerLink]="'/PosTransact'">
            <i class="fa fa-money-bill-transfer"></i>
            <a>Switch To POS</a>
        </div>
        <div class="menu-item" (click)="SignOut()">
            <i class="fa fa-arrow-left"></i>
            <a>Sign Out</a>
        </div>
    </div>
    <div class="main-content">
        <div class="row gap-2 px-3" *ngIf="activePanel == 'PosManagement'">
            <h2 class="fw-bold">Welcome To Your Dashboard</h2>
            <button class="button-15 col-2 ms-3" (click)="SwitchActivePanel('ProductPanel')">
                Manage Products
            </button>
            <button class="button-15 col-2" (click)="SwitchActivePanel('PromoPanel')">
                Manage Promotions
            </button>
            <button class="button-15 col-2" (click)="SwitchActivePanel('CategoryPanel')">
                Manage Categories
            </button>
            <div class="col-12">
                <div class="total-products">
                    <h4>Products</h4>
                    <p><span>148</span> total products</p>
                    <p><span>18</span> damaged</p>
                    <div class="icon" (click)="SwitchActivePanel('ProductPanel')">
                        <span>See More</span><i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="new-products" (click)="SwitchActivePanel('ProductPanel')">
                    <h4>New Products</h4>
                    <p><span>14</span> products added this month.</p>
                    <div class="icon">
                        <span>See More</span><i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="promotions" (click)="SwitchActivePanel('PromoPanel')">
                    <h4>Promotions</h4>
                    <p>No active promotions at the moment</p>
                    <p><span>2</span> promotions coming soon</p>
                    <div class="icon">
                        <span>See More</span><i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="product-stock" (click)="SwitchActivePanel('PosAnalytics')">
                    <h4>Quick Inventory Insights</h4>
                    <p><span>68%</span> Remaining stock levels</p>
                    <p><span>4</span> products out of stock</p>
                    <div class="icon">
                        <span>See More</span><i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <app-promo *ngIf="activePanel === 'PromoPanel'"></app-promo>
        <app-product *ngIf="activePanel === 'ProductPanel'"></app-product>
        <app-category *ngIf="activePanel === 'CategoryPanel'"></app-category>
        <app-user *ngIf="activePanel === 'PosUsers'"></app-user>
        <app-analytics *ngIf="activePanel === 'PosAnalytics'"></app-analytics>
    </div>
</div>
