<div class="row gap-2 px-2">
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Users</h2>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <div class="col-12 filters">
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="all">
                <label for="all">All</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="admin">
                <label for="admin">Admins</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="cashier">
                <label for="cashier">Cashiers</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="male">
                <label for="male">Male</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="female">
                <label for="female">Female</label>
            </div>
            <div class="search-el">
                <input type="text" name="" id="search" placeholder="search">
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="10%">User ID</th>
                    <th width="20%">Full Name <span class="sort"><i class="fa fa-sort-down"></i></span>
                    </th>
                    <th width="20%">Role(s) <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="20%">Email</th>
                    <th width="10%">Gender <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers,let i = index">
                    <td width="10%">
                        {{user.id}}
                    </td>
                    <td width="15%">
                        {{user.fullName}}
                    </td>
                    <td width="10%">{{user.roles}}</td>
                    <td width="10%">{{user.email}}</td>
                    <td width="10%">{{user.gender}}</td>
                    <td width="20%"> 
                        <p class="buttons">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4 class="mb-3">Quick Actions</h4>
        <button class="button-15 new">New User <i class="fa fa-file-circle-plus ms-2"></i></button>
    </div>
</div>
