<div class="row gap-2 px-2">
    <div class="mod-cover" [ngClass]="{'mod-cover' : true, 'active' : isModalOpen}">
        <div class="col-7 m-auto">
            <form (ngSubmit)="FormSubmit()" #form="ngForm">
                <div class="close-box" (click)="ToggleModal()">
                    <i class="fa fa-xmark" title="close-modal"></i>
                </div>
                <h2 class="mb-3 text-center">Create User</h2>
                <div class="mb-3">
                    <label for="name" class="form-label col-2">Name</label>
                    <input type="text" class="col-8" id="name" placeholder="FullName" name="name_El" ngModel>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label col-2">Email</label>
                    <input type="text" class="col-8" id="email" placeholder="e.g user@duftypos.com" name="email" ngModel>
                </div>
                <div class="mb-3 d-flex">
                    <label class="form-label col-2" >Role:</label>
                      <select class="form-select" name="role" ngModel>
                        <option value="">Choose</option>
                        <option>Admin</option>
                        <option>Cashier</option>
                      </select>
                  </div>
                  <div class="mb-3 d-flex">
                    <label class="form-label col-2" >Gender:</label>
                      <select class="form-select" name="gender" ngModel>
                        <option value="">Choose</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                  </div>
                <div class="text-end ms-auto">
                    <button class="button-15 text-danger me-3" (click)="ToggleModal()">Close<i class="fa fa-xmark ms-2"></i></button>
                    <button class="button-15 text-success mb-3">Create User<i class="fa fa-file-circle-plus ms-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Users</h2>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <div class="col-12 filters">
            <div class="radio-el">
                <input type="radio" checked name="userfilter" id="all" (change)="FilterUsers()">
                <label for="all">All</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="userfilter" id="admin" (change)="FilterUsers('admin')">
                <label for="admin">Admins</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="userfilter" id="cashier" (change)="FilterUsers('cashier')">
                <label for="cashier">Cashiers</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="userfilter" id="male" (change)="FilterUsers('male')">
                <label for="male">Male</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="userfilter" id="female" (change)="FilterUsers('female')">
                <label for="female">Female</label>
            </div>
            <div class="search-el">
                <input type="text" id="search" placeholder="search">
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="10%">User ID</th>
                    <th width="20%">Full Name <span class="sort"><i class="fa fa-sort"></i></span>
                    </th>
                    <th width="20%">Role(s) <span class="sort"><i class="fa fa-sort"></i></span></th>
                    <th width="20%">Email</th>
                    <th width="10%">Gender <span class="sort"><i class="fa fa-sort"></i></span></th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers,let i = index">
                    <td width="10%">
                        {{user.id}}
                    </td>
                    <td width="15%">
                        {{user.fullName}}
                    </td>
                    <td width="10%">{{user.roles}}</td>
                    <td width="10%">{{user.email}}</td>
                    <td width="10%">{{user.gender}}</td>
                    <td width="20%"> 
                        <p class="buttons" (click)="EditUser(user)">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4 class="mb-3">Quick Actions</h4>
        <button class="button-15" (click)="ToggleModal()">New User<i class="fa fa-file-circle-plus ms-2"></i></button>
    </div>
</div>
