<div class="container">
    <div class="row gap-2 px-4">
        <div class="col-3 flex-grow-1">
            <h2>Your no.1 express POS <i class="fa fa-trophy"></i></h2>
            <h1>DuftyPOS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi non reiciendis 
            pariatur vel dolore officia animi dolorem odit necessitatibus, quas dolores amet, minus earum.</p>
            <a>Login To Get Started <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="col-4">
            <form action="">
                <h2>Login</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="" id="username" placeholder="example user@dufty. . .">
                </div>
                <div class="">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="" id="password">
                </div>
                <div class="mb-3 text-end">
                    <label for="remember-chkbox" class="form-label" id="remember-label">Remember me?</label>
                    <input type="checkbox" class="" id="remember-chkbox">
                </div>
                <div class="mb-3 text-center">
                    <a href="" class="btn btn-outline-light mb-3">Login</a>
                    <p>Don't have an account ? <br> <a href="">Click here</a> to register.</p>
                </div>
            </form>
        </div>
    </div>
</div>

