<div class="container">
    <div class="row gap-2 px-4">
        <div class="col-3 flex-grow-1">
            <h2>Your no.1 express POS <i class="fa fa-trophy"></i></h2>
            <h1>DuftyPOS</h1>
            <p>An all-in-one POS. Manage products,promotions and users in one centralised place. 
                Our express Point Of Sale software is ideal for small businesses such restuarants,fast food outlets or kiosk operations.</p>
            <a>Login To Get Started <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="col-4">
            <form #authForm="ngForm" (ngSubmit)="OnFormSubmitted(authForm)">
                <h2>{{isLoginMode? 'Login' : 'Sign-Up'}}</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input email name="email" ngModel>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" ngModel>
                </div>
                <div class="mb-3 text-end">
                    <label for="chkbox" class="form-label" id="remember-label">Remember me?</label>
                    <input type="checkbox" name="remember-chkbox" ngModel>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-outline-light mb-3" type="submit" [disabled]="authForm.invalid">{{isLoginMode? 'Login' : 'Register'}}</button>
                    <p *ngIf="isLoginMode">Don't have an account ? <br> <a class="message" (click)="SwitchMode()">Click here</a> to register.</p>
                    <p *ngIf="!isLoginMode">Already have an account ? <br> <a class="message" (click)="SwitchMode()">Click here</a> to login.</p>
                </div>
            </form>
        </div>
    </div>
</div>

