<div class="background">
    <div class="upper">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
    </div>
    <div class="upper">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
    </div>
    <div class="upper">
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
        <div class="cover">
            <i class="fa fa-chess-knight"></i>
            <p>Dufty POS</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-login *ngIf="router.url == '/'"></app-login>