.cart-wrap {
	font-family: 'Open Sans', sans-serif;
}
.main-heading {
	font-size: 19px;
	margin-bottom: 20px;
}
.table-list table {
    width: 100%;
    margin-bottom: 25px;
}
.table-list thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-list thead tr th {
    padding: 8px 0 14px;
    color: #484848;
    font-size: 13px;
    font-weight: 400;
}
.table-list tr td {
    padding: 5px 0;
    vertical-align: middle;
    font-size: 13px;
}
.table-list tr:nth-child(even){
    background-color: #524b4e6e;
}