<main>
  <div class="background">
      <div class="cover">
          <i class="fa fa-chess-knight"></i>
          <p>Dufty POS</p>
      </div>
  </div>
  <div class="row">
      <div class="col-2">
          <h3> <i class="fa fa-chess-knight"></i>Dufty POS</h3>
          <div class="menu-item">
              <i class="fa fa-pizza-slice"></i>
              <a href="" class="menu-link">Pizzas</a>
          </div>
          <div class="menu-item">
              <i class="fa fa-burger"></i>
              <a href="" class="menu-link">Burgers</a>
          </div>
          <div class="menu-item">
              <i class="fa fa-plate-wheat"></i>
              <a href="" class="menu-link">Meals</a>
          </div>
          <div class="menu-item">
              <i class="fa fa-martini-glass-citrus"></i>
              <a href="" class="menu-link">Drinks</a>
          </div>
      </div>
      <div class="col-5 flex-grow-1">
          <div class="top-div">
              <a href="" class="btn btn-outline-dark">Menu All</a>
              <a href="" class="btn btn-outline-dark">Promotions</a>
              <a href="" class="btn btn-outline-dark">Search</a>
          </div>
          <div class="popular-burgers row">
              <h2>Popular Burgers</h2>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3 my-2">
                  <div class="card">
                      <img class="card-img-top" src="../assets/images/1.jpg" alt="">
                      <div class="card-body">
                          <p class="title">Cheese Burger</p>
                          <div class="card-bottom">
                              <p>R 75.99</p>
                              <i class="fa fa-basket-shopping"></i>
                          </div>
                      </div>
                  </div>
              </div>
         
          </div>
      </div>
      <div class="col-4">
          <div class="numeric-output">
              <input type="text" placeholder="0.00">
          </div>
          <div class="output-body">
          </div>
      </div>
  </div>
  <div class="duft-status-bar">
      <div class="section">
          <p>User :</p>
          <p>Lira Opus</p>
      </div>
      <div class="section">
          <p>IP Address :</p>
          <p>196.10.68.001</p>
      </div>
      <div class="section">
          <p>Connected To :</p>
          <p>Database-DB</p>
      </div>
      <div class="section">
          <p>POS Mode :</p>
          <p>Ready</p>
          <div class="status-bar-icon">
          </div>
      </div>
  </div>
</main>