<div class="row gap-2 px-2">
    <div class="mod-cover" [ngClass]="{'mod-cover' : true, 'active' : isModalOpen}">
        <div class="col-7 m-auto">
            <form (ngSubmit)="FormSubmit()" #form="ngForm">
                <div class="close-box" (click)="ToggleModal()">
                    <i class="fa fa-xmark" title="close-modal"></i>
                </div>
                <h2 class="mb-3 text-center">Add New Product</h2>
                <div class="mb-3">
                    <label for="name" class="form-label col-2">Name</label>
                    <input type="text" class="col-8" id="name" placeholder="Product Name" name="name_El" ngModel>
                </div>
                <div class="mb-3 d-flex align-items-start">
                    <label for="description" class="form-label col-2">Description</label>
                    <textarea name="description" id="description" class="col-8" ngModel></textarea>
                </div>
                <div class="mb-3">
                    <label for="qty" class="form-label col-2">Quantity</label>
                    <input type="text" class="" id="qty" name="quantity" ngModel>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label col-2">Unit Price</label>
                    <input type="text" class="" id="price" name="price" ngModel>
                </div>
                <div class="mb-3">
                    <label class="form-label col-2">Category:</label>
                    <select class="form-select" style="height: 35px;" name="category" ngModel>
                        <option>Choose</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="imgFile" class="form-label col-2">Image</label>
                    <input type="file" class="" id="imgFile" name="imageUrl" ngModel>
                </div>
                <div class="text-end ms-auto">
                    <a class="button-15 text-danger me-3" (click)="ToggleModal()">Close<i class="fa fa-xmark ms-2"></i></a>
                    <button class="button-15 text-success mb-3">Create Promotion<i class="fa fa-file-circle-plus ms-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Products</h2>
        <a class="btn btn-outline-dark" (click)="SwitchBackToMain('PosManagement')">
            <i class="fa fa-arrow-left"></i> back to main menu
        </a>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <div class="col-12 filters">
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="all">
                <label for="all">All</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="pizza">
                <label for="pizza">Pizza</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="burger">
                <label for="burger">Burger</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="meal">
                <label for="meal">Meal</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="drink">
                <label for="drink">Drink</label>
            </div>
            <div class="search-el">
                <input type="text" name="" id="search" placeholder="search">
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="10%">Barcode</th>
                    <th width="30%">Product Name <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="10%">In Stock <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="15%">Unit Price <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="15%">Inc. VAT <span class="sort"><i class="fa fa-sort-down"></i></span></th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allProducts,let i = index">
                    <td width="10%">
                        {{item.id}}
                    </td>
                    <td width="30%">
                        {{item.title}}
                    </td>
                    <td width="10%">{{item.leftInStock}}</td>
                    <td width="15%">{{item.price | currency : 'R'}}</td>
                    <td width="15%">{{item.price + 5 | currency : 'R'}}</td>
                    <td width="20%"> 
                        <p class="buttons" (click)="EditProduct(item)">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4>Quick Actions</h4>
        <button class="button-15 new" (click)="ToggleModal()">New Product <i class="fa fa-file-circle-plus ms-2"></i></button>
    </div>
</div>
