<div class="top-div">
    <a href="" class="btn btn-outline-dark">Menu All</a>
    <a href="" class="btn btn-outline-dark">Promotions</a>
    <a href="" class="btn btn-outline-dark">Search</a>
</div>
<div class="popular-burgers row">
    <h2>Popular Burgers</h2>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 my-2">
        <div class="card">
            <img class="card-img-top" src="../assets/images/1.jpg" alt="">
            <div class="card-body">
                <p class="title">Cheese Burger</p>
                <div class="card-bottom">
                    <p>R 75.99</p>
                    <i class="fa fa-basket-shopping"></i>
                </div>
            </div>
        </div>
    </div>
</div>
