*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: darkgray;
  min-height: 100vh;
  overflow: hidden;
}
.mi-button{
  background-color: black;
  color: white;
  display: inline-block;
  box-shadow: inset 0 0 -2px 3px gray, 0 0 2px 3px rgba(0, 0, 0, 0.592);
  padding: 7px 12px;
  border-radius: 4px;
  min-width: 95px;
  text-align: start;
  position: relative;
  border: 1px solid;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}
.mi-button::after{
  content: '';
  position: absolute;
  border-radius: 4px;
  inset: 0 0 auto auto;
  width: 35%;
  height: 100%;
  background-color: rgb(14, 2, 194);
  z-index: -1;
}