<div class="row">
    <div class="col-12">
        <div class="search-el">
            <input type="text" name="" id="search" placeholder="search">
        </div>
    </div>
</div>
<div class="table-list">
    <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr class="tr-header">
                <th width="15%">Barcode</th>
                <th width="20%">Product Name
                </th>
                <th width="20%">Product Category
                </th>
                <th width="10%">In Stock</th>
                <th width="10%">In Promo</th>
                <th width="10%">Unit Price</th>
                <th width="10%">Inc. VAT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allProducts,let i = index" (click)="AddToCartFromSearch(item)">
                <td width="15%">
                    {{item.short_barcode}}
                </td>
                <td width="20%">
                    {{item.title}}
                </td>
                <td width="20%">
                    {{item.category}}
                </td>
                <td width="10%">{{item.leftInStock}}</td>
                <td width="10%">
                    {{item.isInPromo ? 'Yes' : 'No'}} 
                </td>
                <td width="10%">{{item.price | currency : 'R'}}</td>
                <td width="10%">{{item.price + 5 | currency : 'R'}}</td>
            </tr>
        </tbody>
    </table>
</div>
