<div class="row gap-2 px-2">
    <div class="col-12 d-flex justify-content-between">
        <h2>Manage Products</h2>
        <a class="btn btn-outline-dark" (click)="SwitchBackToMain('PosManagement')">
            <i class="fa fa-arrow-left"></i> back to main menu
        </a>
    </div>
    <div class="table-list col-9 flex-grow-1">
        <div class="col-12 filters">
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="all">
                <label for="all">All</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="pizza">
                <label for="pizza">Pizza</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="burger">
                <label for="burger">Burger</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="meal">
                <label for="meal">Meal</label>
            </div>
            <div class="radio-el">
                <input type="radio" name="prodfilt" id="drink">
                <label for="drink">Drink</label>
            </div>
            <div class="search-el">
                <input type="text" name="" id="search" placeholder="search">
                <button class="mi-button">Search <i class="fa fa-magnifying-glass ms-2"></i></button>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr class="tr-header">
                    <th width="10%">Barcode</th>
                    <th width="40%">Product Name
                    </th>
                    <th width="10%">In Stock</th>
                    <th width="10%">Unit Price</th>
                    <th width="10%">Inc. VAT</th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allProducts,let i = index">
                    <td width="10%">
                        {{item.id}}
                    </td>
                    <td width="15%">
                        {{item.title}}
                    </td>
                    <td width="10%">{{item.leftInStock}}</td>
                    <td width="10%">{{item.price | currency : 'R'}}</td>
                    <td width="10%">{{item.price + 5 | currency : 'R'}}</td>
                    <td width="20%"> 
                        <p class="buttons">Edit <i class="fa fa-file-pen"></i></p>
                        <p class="buttons">Delete <i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h4>Quick Actions</h4>
        <button class="mi-button new">New Product <i class="fa fa-file-circle-plus ms-2"></i></button>
        <button class="mi-button">Search <i class="fa fa-magnifying-glass ms-2"></i></button>
        <button class="mi-button">Search <i class="fa fa-magnifying-glass ms-2"></i></button>
        <button class="mi-button">Search <i class="fa fa-magnifying-glass ms-2"></i></button>
    </div>
</div>
